<div class="w-full  p-3">
    <label for="input" class="font-bold flex flex-col items-start gap-2 text-xl">{{label}}
        <div class="md:w-72 lg:w-96 flex flex-row items-center gap-2">
            <input
                class="w-full font-normal p-1 border-blue-300 border-solid border-2 rounded-md hover:border-blue-600 focus:border-blue-800 focus:shadow-2xl text-sm"
                [name]="name"
                [type]="type"
                [placeholder]="placeholder"
                [required]="required"
                style="outline: none;"
            >
            <ng-content />
        </div>
    </label>
</div>